{% extends 'base.html.twig' %}

{% block body %}
    <div class="go_home">
            <a href='/'>< На головну</a>
    </div>
<h2 class="text-center">Редагування учасника судового процесу</h2>
    {% include('default/form_visitor.html.twig') %}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker({pickTime: false, language: 'uk'});
            $('#datetimepicker5').datetimepicker({pickTime: false, language: 'uk'});
            $('#appbundle_visitor_dateVisit').datetimepicker({pickTime: true, language: 'uk'});
        });
    </script>
{% endblock %}
