{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="text-center">Учасник судового процесу</h2>
    {% include('default/form_visitor.html.twig') %}
    <hr>
    {% if user.isRoot == true %}
        {% include ('default/search_form.html.twig') %}
    {% endif %}
{% endblock %}
